//this code realize with the simplier method - Live sass compiller PLUGIN for trying. In the future it will be realized for another methods ;)
/* @import url(https://fonts.googleapis.com/css?family=Oswald:400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300); */

/* $fontFamily: "Oswald";
$fontSize: rem(24);

$mainColor: #000;

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1590;

$containerPadding: 30;
$responsiveType: 1;

$containerWidth: $maxWidthContainer + $containerPadding;

$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

//обнуляючі параметри
@import url("");

body {
    font-weight: 500;

    .lock & {
        overflow: hidden;
        touch-action: none;
    }
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .loaded ${
    }

    > main {
        flex: 1 1 auto;
    }

    > * {
        min-width: 0;
    }
} */
