@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald:400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

:root {
    --mainFontFamily: "Oswald";
    --secondaryFontFamily: "Open Sans";

    --mainFontWeight: 400;
    --secondaryFontWeight: 500;

    --mainFontSize: 24px;
    --secondaryFontSize: 36px;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--mainFontFamily);
    font-size: var(--mainFontSize);
    font-weight: var(--mainFontWeight);
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black
}

h1 {
    font-size: 65px;
    margin: 0;
}

.small__text {
    font-family: var(--secondaryFontFamily);
    font-weight: 3200;
}

/* /////////////////////////////// */
.header__content {
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: 12%;
}

.header__items {
    display: flex;
    margin-right: 1em;
}

.header__items>div {
    margin: 0 1.3em;
}

.header__search {
    display: flex;
}

/* ///////////////////////////// */
.main_section1_content {
    display: flex;
    width: 90%;
    margin: 2em auto;
    /* background: bisque; */
    height: 27em;
    align-items: center;
    flex-direction: row;
}

.ms1_content_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main__but1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    width: 10em;
    height: 2em;
    margin: 0 auto;
}

.ms1_small_text {
    margin: 1.5em 0;
}

.ms1_content_img {
    position: relative;
    left: 4em;
}

.ms1__block1 {
    position: absolute;
    z-index: 1;
    width: 20em;
    height: 20em;
    border: 2px solid rgba(160, 73, 85, 1);
    top: -7em;
    left: -2em;
}

.ms1__block2 {
    background: rgba(160, 73, 85, 1);
    width: 22em;
    height: 22em;
    position: absolute;
    top: -13em;
    left: 2em;
    z-index: 2;
}

.ms1__block3 {
    position: absolute;
    left: 3em;
    top: -11em;
    z-index: 3;
    width: max-content;
}

.ms1__block3 img {
    max-width: 100%;
}

/* /////////////////////////////////////// */
.main__section2 {
    background: rgba(241, 241, 241, 1);
}

.main_section2_content {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 2em 0;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(241, 241, 241, 1);
}

.ms2_content_text {
    margin-bottom: 1em;
    text-align: center;
    font-weight: 500;
    font-size: 36px;
}

.ms2_ct_big {
    font-size: 64px;
}

.ms2_content_allcards {
    display: flex;
}

.ms2_content_cards {
    display: flex;
    flex-direction: column;
    margin: 0 .5em;
    background: white;
    padding: 2em 0;
}

.ms2_content_cards>div {
    display: flex;
    justify-content: center;
    margin: 0 .3em;
}

.ms2_cards_text {
    padding: .7em 0;
    text-align: center;
}

.ms2_cards_stars {
    display: flex;
}

.ms2_cards_price {
    padding: .7em 0;
}

.ms2_cards_button {
    background: rgba(160, 73, 85, 1);
    display: flex;
    padding: .5em;
}

.ms2_content_cards a {
    display: flex;
    justify-content: center;
}

.ms2_cards_button_text {
    display: flex;
    align-items: center;
}

.ms2_cards_button span {
    margin-left: .3em;
}

/* ////////////////////////////////// */
.main_section3_content {
    display: flex;
    width: 90%;
    margin: 3em auto;
    /* background: bisque; */
    height: 27em;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.ms3_content_text {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* //////////////////////////////////// */
.main__section4 {
    background: rgba(241, 241, 241, 1);
}

.main_section4_content {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding: 3em 0;
    justify-content: space-between;
}

.main_section4_content>div {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.ms4_content_block>div {
    display: flex;
    flex-direction: column;
}

.main_section4_content a {
    display: flex;
}

.main_case_div {
    align-items: center;
}

.main__but4 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    width: 12em;
    height: 2em;
    margin: 0 auto;
}

.ms4_block_text {
    text-align: center;
    margin: 1em 0;
}

.ms4_block_img {
position: relative;
overflow: hidden;
}

.ms4_block_img_text {
    background: rgba(160, 73, 85, 1);
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    padding: 3%;
    width: 94%;
    text-align: center;
}